@charset "UTF-8";
/* line 3, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
body {
  background-color: #fff;
  background-image: url("/orange-cat/images/bg-1.png");
  background-repeat: repeat-x;
  background-position: top;
  font-size: 12px; }
  @media (min-width: 960px) {
    /* line 3, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
    body {
      font-size: 14px; } }
  @media (min-width: 1220px) {
    /* line 3, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
    body {
      font-size: 16px; } }

/* line 14, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
body, h1, h2, h3, h4, h5, h6, p, li {
  font-family: "PT Sans", arial, sans-serif;
  color: #2f2f30; }

/* line 19, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
h1 {
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 0.69167em;
  margin-top: 0.64167em; }

/* line 25, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
h2 {
  font-size: 2.25em;
  line-height: 1.2; }

/* line 26, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
h4 {
  font-size: 1.5em;
  line-height: 1.2; }

/* line 28, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
em {
  color: #2f2f30; }

/* line 30, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
a {
  color: #f17e00;
  font-weight: bold;
  text-decoration: underline; }
  /* line 34, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  a:hover {
    color: #bbd700; }

/* line 37, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.btn {
  font-size: 1em;
  line-height: 2.25em;
  font-weight: bold;
  padding: 0 1.1875em;
  display: inline-block;
  cursor: pointer; }
  /* line 43, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .btn.btn-o {
    color: #2f2f30;
    border: 1px solid #2f2f30; }
  /* line 48, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .btn.btn-block {
    display: block;
    text-align: center; }

/* line 54, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.welcome {
  margin-bottom: 4.0625em; }
  /* line 56, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .welcome h1 {
    font-weight: bold;
    color: #f17e00; }
  /* line 57, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .welcome h4 {
    font-size: 1.5em;
    line-height: 1;
    font-weight: bold; }
  /* line 58, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .welcome p {
    font-size: 1.125em;
    line-height: 1.11111; }
  /* line 59, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .welcome .more {
    font-size: 0.88889em; }

/* line 63, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.about-block h2 {
  font-size: 2.25em;
  line-height: 1;
  font-weight: normal; }
/* line 64, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.about-block h3 {
  font-size: 1.5em;
  line-height: 1;
  font-weight: normal; }
/* line 65, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.about-block .description {
  font-style: italic;
  color: #7e7e7e; }
/* line 69, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.about-block ul.directions {
  padding: 0; }
  /* line 71, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .about-block ul.directions li {
    list-style: none;
    font-size: 1.125em;
    margin-bottom: 1.45em; }

/* line 80, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.content .frame {
  position: relative;
  z-index: 100;
  display: block; }
  /* line 84, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .content .frame .frame-body {
    position: relative;
    z-index: 102;
    padding: 7px; }
  /* line 88, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .content .frame::after {
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 101;
    content: '';
    border: 2px solid white; }
/* line 95, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.content ul:not([class]), .content ol:not([class]) {
  padding-left: 3.1875em;
  line-height: 1.66667; }
/* line 100, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.content ul:not([class]) {
  list-style-type: none; }
  /* line 103, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .content ul:not([class]) > li {
    text-indent: -1.3125em; }
    /* line 106, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
    .content ul:not([class]) > li:before {
      content: '•';
      color: #f17e00;
      padding-right: 0.9375em; }
/* line 114, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.content ol:not([class]) {
  counter-reset: item; }
  /* line 117, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .content ol:not([class]) > li {
    text-indent: -3.1875em;
    display: block; }
    /* line 121, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
    .content ol:not([class]) > li:before {
      display: inline-block;
      width: 2.25em;
      padding-right: 0.9375em;
      text-align: right;
      content: counter(item) ".";
      counter-increment: item;
      font-weight: bold; }

/* line 135, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.right > * {
  margin-top: 4.375em; }
  /* line 137, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .right > *:first-child {
    margin-top: 0; }
/* line 140, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.right .news {
  border: 2px solid #d5d5d6;
  padding: 1.5625em 1.75em; }
  /* line 143, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .right .news .date {
    font-size: 0.875em;
    color: #7e7e7e; }
  /* line 144, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .right .news h2 {
    font-size: 1.875em;
    line-height: 1.2;
    font-weight: bold;
    color: #f17e00; }
  /* line 145, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .right .news p {
    font-size: 1.125em;
    line-height: 1.33333; }
  /* line 146, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .right .news .more {
    font-size: 0.88889em; }

/* line 150, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.birthday {
  background-image: url("/orange-cat/images/img-01.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding: 2.125em 4.6875em; }
  /* line 158, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .birthday h2 {
    font-size: 1.875em;
    line-height: 1.2;
    margin-top: 0.68333em;
    margin-bottom: 1.18333em;
    text-align: left; }

/* line 166, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0.875em; }
  /* line 172, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .breadcrumbs a {
    font-weight: normal; }
  /* line 174, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .breadcrumbs li {
    display: inline-block; }
    /* line 176, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
    .breadcrumbs li:not(:last-child) {
      margin-right: 0.1875em; }
      /* line 178, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
      .breadcrumbs li:not(:last-child):after {
        margin-left: 0.125em;
        display: inline-block;
        content: '→';
        color: #9f9f9f;
        font-size: 1.5em;
        vertical-align: -0.125em; }

/* line 190, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
.local-menu {
  padding: 0;
  margin: 0;
  list-style: none; }
  /* line 194, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
  .local-menu li {
    display: block; }
    /* line 196, /projects/middleman/orange-cat/source/stylesheets/app/common.scss */
    .local-menu li a {
      font-size: 1.125em;
      line-height: 2.22222;
      font-weight: normal;
      vertical-align: top; }
