@charset "UTF-8";
/* line 3, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/footer.scss */
footer {
  margin-top: 6.25em;
  padding: 1.875em 0;
  background-image: url("../../images/bg-footer.png");
  background-repeat: repeat;
  color: #78728e; }
  /* line 10, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/footer.scss */
  footer p {
    font-size: 0.875em;
    color: #78728e; }
  /* line 12, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/footer.scss */
  footer a {
    transition: 0.3s;
    font-weight: normal;
    color: #78728e;
    text-decoration: none; }
    /* line 17, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/footer.scss */
    footer a:hover {
      color: #fff;
      text-decoration: none; }
  /* line 23, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/footer.scss */
  footer .logo {
    min-height: 5.3125em;
    background-image: url("../../images/logo-footer.png");
    background-repeat: no-repeat;
    background-position: 3.125em bottom; }
  /* line 31, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/footer.scss */
  footer .menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  /* line 39, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/footer.scss */
  footer .contacts p {
    text-align: right;
    margin: 0; }
  /* line 44, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/footer.scss */
  footer .contacts .phone, footer .contacts .address {
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 2.375em; }
  /* line 50, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/footer.scss */
  footer .contacts .phone {
    background-image: url("../../images/phone-footer.png"); }
    /* line 52, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/footer.scss */
    footer .contacts .phone .main {
      font-size: 1.125em;
      line-height: 1;
      font-weight: bold;
      margin-bottom: 0.26667em; }
      /* line 55, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/footer.scss */
      footer .contacts .phone .main .code {
        font-weight: normal; }
  /* line 59, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/footer.scss */
  footer .contacts .address {
    background-image: url("../../images/pin-footer.png"); }
    /* line 61, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/footer.scss */
    footer .contacts .address .city {
      font-weight: bold;
      margin-top: 1.05714em;
      margin-bottom: -0.3em; }
