@charset "UTF-8";
/* line 3, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
header {
  height: 12.5em;
  padding: 0 2.1875em 0 18.4375em !important;
  background-image: url("../../images/logo.png");
  background-repeat: no-repeat;
  background-position: 2.1875em 1.5625em;
  background-size: 16.625em auto; }
  /* line 11, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
  header .blocks {
    height: 6.75em; }
    /* line 14, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
    header .blocks .title {
      font-size: 1.125em;
      line-height: 1.11111;
      font-weight: bold;
      text-transform: uppercase; }
    /* line 20, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
    header .blocks .address .online-entry {
      transition: 0.3s;
      text-align: center;
      text-transform: uppercase;
      color: #f17e00;
      font-weight: bold;
      margin-bottom: 1.25em; }
      /* line 27, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
      header .blocks .address .online-entry:hover {
        opacity: 0.8; }
      /* line 29, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
      header .blocks .address .online-entry a {
        color: #f17e00;
        text-decoration: none;
        border-bottom: 2px dotted #f17e00; }
    /* line 36, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
    header .blocks .address .city {
      font-weight: bold;
      text-align: right; }
      /* line 39, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
      header .blocks .address .city i {
        font-size: 1em;
        color: #f17e00; }
    /* line 45, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
    header .blocks .address .street {
      color: #7e7e7e; }
    /* line 51, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
    header .blocks .phone .phones, header .blocks .phone .btn {
      display: inline-block;
      vertical-align: bottom; }
    /* line 56, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
    header .blocks .phone .btn {
      font-size: 0.875em;
      line-height: 1;
      font-weight: bold;
      color: #fff;
      text-align: center;
      width: 12.85714em;
      height: 1.62143em;
      transition: 0.3s;
      text-shadow: 0 -1px 1px rgba(47, 47, 48, 0.3);
      padding-top: 1.09286em;
      text-transform: uppercase;
      background-color: #f17e00;
      border-bottom: 2px solid #ba6100;
      margin-bottom: 0.3125em;
      cursor: pointer; }
      /* line 67, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
      header .blocks .phone .btn:hover {
        opacity: 0.8; }
    /* line 70, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
    header .blocks .phone .phones {
      text-align: right;
      margin-right: 1.25em; }
      /* line 74, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
      header .blocks .phone .phones .main {
        font-size: 1.5em;
        font-weight: bold; }
        /* line 76, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
        header .blocks .phone .phones .main strong {
          color: #f17e00;
          font-weight: normal; }
      /* line 79, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
      header .blocks .phone .phones .mobile {
        color: #7e7e7e; }
  /* line 87, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
  header nav ul {
    font-size: 1.125em;
    margin: 2.77778em 0 0;
    padding: 0;
    list-style: none; }
    /* line 93, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
    header nav ul li {
      transition: background-color 0.3s;
      cursor: pointer;
      display: inline-block;
      padding: 0 0.83333em;
      margin: 0 0.33333em;
      font-weight: bold;
      line-height: 1.66667em;
      height: 1.66667em;
      border-radius: 3px; }
      /* line 104, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
      header nav ul li a {
        color: #2f2f30;
        text-decoration: none; }
      /* line 109, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
      header nav ul li.active, header nav ul li:hover {
        background-color: #bbd700; }
        /* line 111, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
        header nav ul li.active, header nav ul li.active a, header nav ul li:hover, header nav ul li:hover a {
          color: #fff; }
        /* line 112, /home/alexiss/Проекты/middleman/orange-cat/source/stylesheets/app/header.scss */
        header nav ul li.active a, header nav ul li:hover a {
          text-decoration: none; }
