/* line 3, /projects/middleman/orange-cat/source/stylesheets/app/slider.scss */
.slider {
  margin-bottom: 3.125em; }
  /* line 6, /projects/middleman/orange-cat/source/stylesheets/app/slider.scss */
  .slider .slider-wrapper {
    border-bottom: 2px solid #f17e00; }
    /* line 8, /projects/middleman/orange-cat/source/stylesheets/app/slider.scss */
    .slider .slider-wrapper .uk-slideshow {
      border-bottom: 8px solid #bbd700; }
  /* line 11, /projects/middleman/orange-cat/source/stylesheets/app/slider.scss */
  .slider .uk-overlay-panel {
    left: auto;
    right: 0;
    width: 75%;
    background-color: white;
    opacity: 0.9;
    top: 5.9375em;
    bottom: 2.1875em; }
    /* line 20, /projects/middleman/orange-cat/source/stylesheets/app/slider.scss */
    .slider .uk-overlay-panel h2 {
      font-size: 2.25em;
      font-weight: bold;
      color: #f17e00; }
  /* line 25, /projects/middleman/orange-cat/source/stylesheets/app/slider.scss */
  .slider .uk-dotnav {
    margin-top: 0.9375em; }
    /* line 27, /projects/middleman/orange-cat/source/stylesheets/app/slider.scss */
    .slider .uk-dotnav li a {
      width: 10px;
      height: 10px;
      background-color: rgba(47, 47, 48, 0.2); }
    /* line 31, /projects/middleman/orange-cat/source/stylesheets/app/slider.scss */
    .slider .uk-dotnav .uk-active a {
      background-color: #f17e00; }
