@import "../vars";

body {
  background-color: #fff;
  background-image: image-url('bg-1.png');
  background-repeat: repeat-x;
  background-position: top;

  font-size: 12px;
  @include large { font-size: 14px; };
  @include xlarge { font-size: 16px; };
}

body, h1, h2, h3, h4, h5, h6, p, li {
  font-family: $font-family;
  color: $text-color;
}

.welcome {
  h1 {
    @include font(em(48px), default, bold, $color: $orange-color);
  }
}
