@import "../vars";

body {
  background-color: #fff;
  background-image: image-url('bg-1.png');
  background-repeat: repeat-x;
  background-position: top;

  font-size: 12px;
  @include large { font-size: 14px; };
  @include xlarge { font-size: 16px; };
}

body, h1, h2, h3, h4, h5, h6, p, li {
  font-family: $font-family;
  color: $text-color;
}

h1 {
  @include font(em(48px), 1.2);
  margin-bottom: font-bottom(50px, 48px, 1.2);
  margin-top: font-top(38px, 48px, 1.2);
}

h2 { @include font(em(36px), 1.2); }
h4 { @include font(em(24px), 1.2); }

em { color: $text-color; }

a {
  color: $orange-color;
  font-weight: bold;
  text-decoration: underline;
  &:hover { color: $green-color; }
}

.btn {
  @include font(em(16px), em(36px, 16px), bold);
  padding: 0 em(19px, 16px);
  display: inline-block;
  cursor:  pointer;

  &.btn-o {
    color: $text-color;
    border: 1px solid $text-color;
  }

  &.btn-block {
    display: block;
    text-align: center;
  }
}

.welcome {
  margin-bottom: em(65px);
  h1 { @include font($weight: bold, $color: $orange-color); }
  h4 { @include font(em(24px), 1, bold); }
  p  { @include font(em(18px), 20/18); }
  .more { @include font(em(16px, 18px)); }
}

.about-block {
  h2 { @include font(em(36px), 1, normal); }
  h3 { @include font(em(24px), 1, normal); }
  .description {
    font-style: italic;
    color: $grey-color;
  }
  ul.directions {
    padding: 0;
    li {
      list-style: none;
      font-size: em(18px);
      margin-bottom: font-top(27px, 18px);
    }
  }
}

.content {
  .frame {
    position: relative;
    z-index: 100;
    display: block;
    .frame-body {
      @include position(relative, $z-index: 102);
      padding: 7px;
    }
    &::after {
      @include position(absolute, 5px, 5px, $right: 5px, $bottom: 5px, $z-index: 101);
      content: '';
      border: 2px solid white;
    }
  }

  ul:not([class]), ol:not([class]) {
    padding-left: em(51px);
    line-height: (30/18);
  }

  ul:not([class]) {
    list-style-type: none;

    & > li {
      text-indent: em(-21px);

      &:before {
        content: '•';
        color: $orange-color;
        padding-right: em(15px);
      }
    }
  }

  ol:not([class]) {
    counter-reset: item;

    & > li {
      text-indent: em(-51px);
      display: block;

      &:before {
        display: inline-block;
        width: em(36px);
        padding-right: em(15px);
        text-align: right;
        content: counter(item) ".";
        counter-increment: item;
        font-weight: bold;
      }
    }
  }
}

.right {
  & > * {
    margin-top: em(70px);
    &:first-child { margin-top: 0; }
  }

  .news {
    border: 2px solid $light-grey-color;
    padding: em(25px) em(28px);
    .date { @include font(em(14px), $color: $grey-color); }
    h2 { @include font(em(30px), 36/30, bold, $color: $orange-color); }
    p { @include font(em(18px), 24/18); }
    .more { font-size: em(16px, 18px); }
  }
}

.birthday {
  background-image: image-url('img-01.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding: em(34px) em(75px);

  h2 {
    @include font(em(30px), 36/30);
    margin-top: font-top(25px, 30px, 36/30);
    margin-bottom: font-bottom(46px, 30px, 36/30);
    text-align: left;
  }
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: em(14px);

  a { font-weight: normal }

  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: em(3px);
      &:after {
        margin-left: em(3px, 24px);
        display: inline-block;
        content: '→';
        color: #9f9f9f;
        font-size: em(24px);
        vertical-align: em(-3px, 24px);
      }
    }
  }
}

.local-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: block;
    a {
      @include font(em(18px), 40/18, normal);
      vertical-align: top;
    }
  }
}
