@import "../vars";

header {
  height: em(200px);
  padding: 0 0 0 em(260px) !important;
  background-image: image-url('logo.png');
  background-repeat: no-repeat;
  background-position: left em(25px);
  background-size: em(266px) auto;

  .blocks {
    height: em(108px);

    .title {
      @include font(em(18px), 20px/18px, bold);
      text-transform: uppercase;
    }

    .address {
      .online-entry {
        transition: 0.3s;
        text-align: center;
        text-transform: uppercase;
        color: $orange-color;
        font-weight: bold;
        margin-bottom: em(20px);
        &:hover { opacity: 0.8; }

        a {
          color: $orange-color;
          text-decoration: none;
          border-bottom: 2px dotted $orange-color;
        }
      }

      .city {
        font-weight: bold;
        text-align: right;
        i {
          font-size: 1em;
          color: $orange-color;
        }
      }

      .street {
        color: $grey-color;
      }
    }

    .phone {
      .phones, .btn {
        display: inline-block;
        vertical-align: bottom;
      }

      .btn {
        @include font(em(14px), 1, bold, $color: #fff, $align: center);
        @include size(em(180px, 14px), em(38px, 14px) - font-top(16px, 14px));
        transition: 0.3s;
        text-shadow: 0 -1px 1px rgba($text-color, 0.3);
        padding-top: font-top(16px, 14px);
        text-transform: uppercase;
        background-color: $orange-color;
        border-bottom: 2px solid $orange-border-color;
        margin-bottom: em(5px);
        cursor: pointer;
        &:hover { opacity: 0.8; }
      }

      .phones {
        text-align: right;
        margin-right: em(20px);

        .main {
          @include font(em(24px), default, bold);
          strong { color: $orange-color; font-weight: normal; }
        }

        .mobile {
          color: $grey-color;
        }
      }
    }
  }

  nav {
    ul {
      font-size: em(18px);
      margin: em(50px, 18px) 0 0;
      padding: 0;
      list-style: none;

      li {
        transition: background-color 0.3s;
        cursor: pointer;
        display: inline-block;
        padding: 0 em(15px, 18px);
        margin: 0 em(6px, 18px);
        font-weight: bold;
        line-height: em(30px, 18px);
        height: em(30px, 18px);
        border-radius: 3px;

        &.active, &:hover {
          background-color: $green-color;
          color: #fff;
        }
      }
    }
  }
}
