/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans.woff") format("woff"), url("../fonts/pt-sans.ttf") format("truetype"); }
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff") format("woff"), url("../fonts/pt-sans-bold.ttf") format("truetype"); }
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff") format("woff"), url("../fonts/pt-sans-italic.ttf") format("truetype"); }
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/pt-sans-bold-italic.woff") format("woff"), url("../fonts/pt-sans-bold-italic.ttf") format("truetype"); }
