---
title:  О клубе
layout: about_index
---

h1 Как и почему создался наш клуб?

h4
  | Наш клуб был создан в 2007 году. Это было время пика идей раннего развития,
    появления различных методик и направлений. Время, когда интеллектуальное
    становилось выше, чем эмоциональное, физическое и социальное общение.
    Хотя частично, к сожалению, это продолжается и по сей день&hellip;
p
  | Возникла идея поделиться опытом, знаниями, помочь мамам разобраться и
    определиться с позицией в воспитании. Мы постарались создать атмосферу
    тепла и уюта, в которой можно решить многие проблемы, ведь для этого есть
    всевозможные специалисты. Есть люди, которые поддержат и помогут,
    расскажут, покажут, научат Вас и Вашего малыша.

p
  img src=image_path('about-01.png')

p
  | На сегодняшний день мы уже работаем семь лет! У нас по-прежнему сплочённый
    коллектив педагогов, которые ежегодно подтверждают свою квалификацию. Мы
    растём вместе с нашими друзьями и выпускниками. Ведь за этот период мы
    привнесли так много нового, интересного и полезного для полноценного
    гармоничного развития как родителей, так и детей.

h4: strong
  | Приглашаем и Вас посетить наш клуб. Мы учтём Ваши пожелания и подберём
    занятия по интересам с учётом развития Вашего ребёнка.
